<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prem.pgapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Be Our Guest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewPG"
            android:label="View PGs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FirstPage"
            android:label="Registration">

        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".UploadImage" />
        <activity
            android:name=".PostAd"
            android:label="Post Ad" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivityUser"
            android:parentActivityName=".SinglePGActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SinglePGActivity" />
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePGActivity"
            android:label="View this PG"
            android:parentActivityName=".ViewPG">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewPG" />
        </activity>
        <activity
            android:name=".OwnerHomeDrawer"
            android:label="@string/title_activity_owner_home_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password" />
        <activity
            android:name=".ViewProperties"
            android:label="View Properties" />
        <activity
            android:name=".ModifyAd"
            android:label="Modify Ad" />
        <activity
            android:name=".EditProfile"
            android:label="Edit Profile">
        </activity>
        <activity android:name=".SendOTP">
        </activity>
    </application>

</manifest>